@font-face {
    font-family: "Noto Serif Display", serif;
    src: url(https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,500&display=swap);
}
@font-face {
    font-family: "Exo 2", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap);
}
